APP_NAME=Personal Blog API
APP_ENV=dev
API_PREFIX=/api/v1
HOST=0.0.0.0
PORT=7869
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
ADMIN_TOKEN_SECRET=personal-blog-admin-secret
PUBLIC_SITE_URL=https://resohub.top
